<!DOCTYPE=html>
<html>

<head>
    <title>
        Title
    </title>
</head>
<body>
    <div id = "eng">
        {% for page in eng_pages %}
        <img src="{{url_for('static', filename = 'manhwas/' + manhwa_name + '/' + chapter_name + '/eng/' + page)}}" alt="{{page}}">
        {% endfor %}
    </div>

    <div id="kor">
        {% for page in kor_pages %}
        <img src="{{url_for('static', filename = 'manhwas/' + manhwa_name + '/' + chapter_name + '/kor/' + page)}}" alt="{{page}}">
        {% endfor %}
    </div>
</body>

<script src="{{url_for('static', filename='manhwacontroller.js')}}"></script>

</html>
